<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="LOL\core\static\css\bootstrap">
    <title>Arcane</title>
</head>

<body>
   <header>
    <!--<img  id="logo" src="img/body.png" alt="Ilustração">-->
    <h1>Sua saúde é nossa maior preocupação!</h1>
   </header>

   <nav>
       <ul class="menu">
           <li><a href="index.html">Home</a></li>
           <li><a href="imc.html">IMC</a></li>
           <li><a href="novidades.html">Novidades</a></li>
           <li><a href="sobre.html">Sobre</a></li>
       </ul>
   </nav>
   <main>
       <section id="saude"> 
          <!-- <img src="img/Skipping rope-amico.png" alt="Ilustração" height="500" width="500"> -->
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A facilis quam eum exercitationem ullam accusantium voluptas quae explicabo repellat impedit praesentium eius quasi et suscipit odio natus porro, hic deleniti.</p>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore non soluta labore consequatur sint itaque error corporis fugiat dolor architecto eaque iste, animi fugit voluptatem nostrum numquam expedita molestiae eos.</p>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa consequuntur iste delectus perferendis commodi, voluptas cum ullam in expedita totam dolorum ratione quis deserunt fugit eos quam adipisci repudiandae iusto.</p>
       </section>
       <aside class="imagem">
          <!-- <img src="img/ilustracao2.png" alt="Ilustração" height="500" width="500"> -->
       </aside>
   </main>

   <footer>
       <div class="cabecalho">
           <!-- <img class="icon" src="img/exercise_weights.png" alt="Ilustração"> -->
           <p>Todos os direitos reservados</p>
       </div>
   </footer>
</body>
</html>