<!DOCTYPE html>
<html lang="pt-br">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link rel="stylesheet" href="style.css"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title> Produtos </title>
    </head>

    <body>
        <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#"><img src="images/Arcane_Title_Text.png" width="90" height="30" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"></button>
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                   <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="oque.html">Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="comunidade.html">Comunidade</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="personagem.html">Personagens</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="noticias.html">Notícias</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="produtos.html">Produtos<span class="sr-only">(current)</span></a>
                </li>
              </ul>
            </div>   
        </nav>
    </header>

    <h1> Compre para nos ajudar  </h1>

        <p> Almofada confortável Heimerdinger</p><img src="./img/Sem_título-removebg-preview.png">
        <p> Caneca da Jinx </p><img src="./img/Sem título2.png" height="510"> 
        <p> Camisa da Caitlyn </p> <img src="./img/Sem_título3-removebg-preview.png">
        <p> Camisa do Ekko </p> <img src="./img/Sem_título4-removebg-preview.png" height="400">
        

        <main class="">
                <img src="">
            </aside>
        </main>
        <script src=""></script>
    </body>

</html>